body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: purple;
    font-family: Arial, sans-serif;
}

.calculator {
    background:brown;
    padding: 25px;
    border-radius: 12px;
    width: 400px;
}

#display {
    width: 100%;
    height: 60px;
    font-size: 22px;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    height: 45px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: black;
    color: white;
}